@import "variables";

:host {
  background: mat-color($background, "app-bar");
  display: block;
  padding: 45px 30px;
}

h2 {
  display: inline-block;
  font-size: 1.5em;
  margin: 0;
}

.trusted-by {
  overflow-x: auto;

  span {
    display: inline-block;
    text-indent: -99999px;
  }
}
