<p ALIGN=CENTER STYLE="margin-bottom: 0in">
  <U><B>OCEAN SERVICE SOFTWARE LICENSE AGREEMENT</B></U>
</p>
<P ALIGN=CENTER STYLE="margin-bottom: 0in; line-height: 0.22in"><BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 0.22in">
  <FONT COLOR="#43474e">
    <FONT><I><B>IMPORTANT
          – PLEASE READ CAREFULLY</B></I></FONT>
  </FONT>
  <FONT COLOR="#43474e">
    <FONT>:
      This Software License Agreement (“SLA”) is a legal agreement
      between you and Ocean Service Center, Inc.. and its affiliates
      (“Ocean Service”, “we”, or “us”). This SLA governs your
      use of the Ocean Service software and any third party software that
      may be distributed therewith (collectively the “Software”). Ocean
      Service agrees to license the Software to you (personally and/or on
      behalf of your employer) (collectively “you” or “your”) only
      if you accept all the terms contained in this SLA. </FONT>
  </FONT>
  <FONT COLOR="#43474e">
    <FONT><I><B>By
          installing, using, copying, or distributing all or any portion of the
          software, you accept and agree to be bound by all of the terms and
          conditions of this SLA. IF YOU DO NOT AGREE WITH ANY OF THE TERMS OF
          THIS SLA, DO NOT DOWNLOAD, INSTALL, OR USE THE SOFTWARE</B></I></FONT>
  </FONT>
  <FONT COLOR="#43474e">
    <FONT><I>.</I></FONT>
  </FONT>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 0.22in"><BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 0.22in">
  <FONT COLOR="#43474e">
    <FONT>Your
      use of the Software is also subject to your agreements with us
      concerning your use of the </FONT>
  </FONT><A HREF="http://www.oceanservicecenter.com">
    <FONT>www.oceanservicecenter.com</FONT>
  </A>
  <FONT COLOR="#43474e">
    <FONT>
      website (the “Site”) and the services provided through that
      website. This SLA hereby incorporates by reference all terms,
      conditions rules, policies and guidelines on the Site, including the
      Ocean Service Terms of Service (the “Terms of Service”).
      Capitalized terms not defined in this SLA are defined in the Terms of
      Service.</FONT>
  </FONT>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 0.22in"><BR>
</P>
<OL>
  <LI>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><SPAN STYLE="text-transform: uppercase">
        <FONT COLOR="#43474e">
          <FONT><B>CONDITIONAL
              LICENSE.</B></FONT>
        </FONT>
      </SPAN></P>
</OL>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-bottom: 0in; text-transform: uppercase">
  <BR>
</P>
<OL>
  <OL>
    <LI>
      <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><SPAN STYLE="text-transform: uppercase">
          <FONT COLOR="#43474e">
            <FONT><B>LICENSE
                GRANT</B></FONT>
          </FONT>
        </SPAN></P>
  </OL>
</OL>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.54in; margin-bottom: 0in; text-transform: uppercase">
  <BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 0.22in">
  <FONT COLOR="#43474e">
    <FONT>Subject
      to your compliance with the terms and conditions of this SLA, Ocean
      Service grants you a non-exclusive, non-transferable, non-assignable
      right to use the executable code version of the Software for your use
    </FONT>
  </FONT>
  <FONT COLOR="#43474e">
    <FONT><I>solely
        in connection with work you perform on or through the Site</I></FONT>
  </FONT>
  <FONT COLOR="#43474e">
    <FONT>.</FONT>
  </FONT>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 0.22in"><BR>
</P>
<OL>
  <OL START=2>
    <LI>
      <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><SPAN STYLE="text-transform: uppercase">
          <FONT COLOR="#43474e">
            <FONT><B>RESTRICTIONS
                ON USE</B></FONT>
          </FONT>
        </SPAN></P>
  </OL>
</OL>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.54in; margin-bottom: 0in; text-transform: uppercase">
  <BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 0.22in">
  <FONT COLOR="#43474e">
    <FONT>You
      agree not to assign, transfer, modify, display, adapt, translate,
      loan, distribute, prepare derivative works from, decompile, reverse
      engineer, disassemble or otherwise attempt to derive source code from
      the Software. You may not publish, redistribute, sublicense, assign,
      transfer, or sell the Software or any information or material
      associated with the Software. You may not rent, lease or otherwise
      assign or transfer your rights to the Software. You may not use the
      Software in any manner that could damage, disable, overburden or
      impair the Site, nor may you use the Software in any manner that
      could interfere with any other party’s use and enjoyment of the
      Site. You agree that you will use the Software for lawful purposes
      only and in compliance with all applicable laws, including, but not
      limited to, copyright and other intellectual property laws. In
      addition, you shall not perform, nor release the results of any
      testing of the Software to any third party without the prior written
      consent of Ocean Service. You also agree not to remove, obscure, or
      alter any copyright notice, trademarks or other proprietary rights
      notices contained within or accessed in conjunction with or through
      the Software.</FONT>
  </FONT>
</P>
<OL>
  <OL START=3>
    <LI>
      <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><SPAN STYLE="text-transform: uppercase">
          <FONT COLOR="#43474e">
            <FONT><B>INTELLECTUAL
                PROPERTY RIGHTS</B></FONT>
          </FONT>
        </SPAN></P>
  </OL>
</OL>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.54in; margin-bottom: 0in; text-transform: uppercase">
  <BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 0.22in">
  <FONT COLOR="#43474e">
    <FONT>The
      Software is only licensed, not sold, to you for use pursuant to the
      terms of this SLA. All rights not expressly granted to you are
      reserved to Ocean Service or its licensors or third party providers.
      You acknowledge that Ocean Service or its licensors or third party
      providers own any and all rights, title and interest, including
      without limitation all Intellectual Property Rights, in and to the
      Software, portions thereof, or any information or material provided
      through or in conjunction with the Software. Your rights to use the
      Software shall be limited to those expressly granted in this Section
      1. All rights not expressly granted to you are reserved by Ocean
      Service, its licensors or third party providers. “Intellectual
      Property Rights” means all copyright rights, patent rights, mask
      work rights, moral rights, rights of publicity, trademark, trade
      dress and service mark rights, goodwill, trade secret rights and
      other intellectual property rights as may now exist or hereafter come
      into existence, and all other proprietary rights, all applications,
      registrations, renewals, extensions and restorations thereof, now or
      hereafter in force and effect worldwide.</FONT>
  </FONT>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 0.22in"><BR>
</P>
<OL START=2>
  <LI>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><SPAN STYLE="text-transform: uppercase">
        <FONT COLOR="#43474e">
          <FONT><B>DISCLAIMER
              OF WARRANTIES.</B></FONT>
        </FONT>
      </SPAN></P>
</OL>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-bottom: 0in; text-transform: uppercase">
  <BR>
</P>
<OL>
  <OL>
    <LI>
      <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><SPAN STYLE="text-transform: uppercase">
          <FONT COLOR="#43474e">
            <FONT><B>SOFTWARE
                “AS IS”; NO WARRANTY</B></FONT>
          </FONT>
        </SPAN></P>
  </OL>
</OL>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.54in; margin-bottom: 0in; text-transform: uppercase">
  <BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 0.22in">
  <FONT COLOR="#43474e">
    <FONT>THE
      SOFTWARE IS PROVIDED BY OCEAN SERVICE AND ANY OF OUR LICENSORS OR OUR
      THIRD-PARTY SERVICE PROVIDERS “AS IS,” WITH NO WARRANTIES
      WHATSOEVER. OCEAN SERVICE EXPRESSLY DISCLAIMS, TO THE FULLEST EXTENT
      PERMITTED BY LAW, ANY AND ALL EXPRESS, IMPLIED, AND STATUTORY
      WARRANTIES, INCLUDING WITHOUT LIMITATION THE WARRANTIES OF
      MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND
      NON-INFRINGEMENT OF PROPRIETARY RIGHTS. COMPUTER PROGRAMS ARE
      INHERENTLY COMPLEX, AND THE SOFTWARE MAY NOT BE FREE OF ERRORS. THE
      SOFTWARE IS PROVIDED WITH ALL FAULTS AND THE ENTIRE RISK AS TO
      SATISFACTORY QUALITY, PERFORMANCE, ACCURACY AND EFFORT IS WITH YOU.
      OCEAN SERVICE DISCLAIMS ANY AND ALL WARRANTIES REGARDING THE
      SECURITY, RELIABILITY, TIMELINESS AND PERFORMANCE OF THE SOFTWARE.
      YOU UNDERSTAND AND AGREE THAT YOU DOWNLOAD AND USE THE SOFTWARE AT
      YOUR OWN DISCRETION AND RISK AND THAT YOU WILL BE SOLELY RESPONSIBLE
      FOR ANY DAMAGES TO YOUR COMPUTER SYSTEM OR LOSS OF DATA THAT RESULTS
      FROM THE DOWNLOAD OR USE OF THE SOFTWARE.</FONT>
  </FONT>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 0.22in"><BR>
</P>
<OL>
  <OL START=2>
    <LI>
      <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><SPAN STYLE="text-transform: uppercase">
          <FONT COLOR="#43474e">
            <FONT><B>JURISDICTIONAL
                LIMITATIONS</B></FONT>
          </FONT>
        </SPAN></P>
  </OL>
</OL>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.54in; margin-bottom: 0in; text-transform: uppercase">
  <BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 0.22in">
  <FONT COLOR="#43474e">
    <FONT>SOME
      STATES OR OTHER JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF IMPLIED
      WARRANTIES, SO THE ABOVE EXCLUSIONS MAY NOT APPLY TO YOU. IN
      JURISDICTIONS WHICH DO NOT ALLOW THE EXCLUSION OF IMPLIED WARRANTIES,
      ANY AND ALL IMPLIED WARRANTIES ARE LIMITED IN DURATION TO NINETY (90)
      DAYS FROM THE DATE OF DELIVERY OF THE SOFTWARE OR TO THE MINIMUM
      DURATION PRESCRIBED BY LAW. YOU MAY ALSO HAVE OTHER RIGHTS THAT VARY
      FROM STATE TO STATE AND JURISDICTION TO JURISDICTION.</FONT>
  </FONT>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 0.22in"><BR>
</P>
<OL>
  <OL START=3>
    <LI>
      <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><SPAN STYLE="text-transform: uppercase">
          <FONT COLOR="#43474e">
            <FONT><B>PRIVACY
                DISCLAIMER</B></FONT>
          </FONT>
        </SPAN></P>
  </OL>
</OL>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.54in; margin-bottom: 0in; text-transform: uppercase">
  <BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 0.22in">
  <FONT COLOR="#43474e">
    <FONT>TO
      THE FULLEST EXTENT PERMITTED BY LAW, OCEAN SERVICE DISCLAIMS ANY AND
      ALL LIABILITY IN THE EVENT OF THE UNAUTHORIZED ACCESS TO OR
      MISAPPROPRIATION OF YOUR PERSONAL INFORMATION OR PRIVATE
      COMMUNICATIONS BY THIRD PARTIES.</FONT>
  </FONT>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 0.22in"><BR>
</P>
<OL>
  <OL START=4>
    <LI>
      <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><SPAN STYLE="text-transform: uppercase">
          <FONT COLOR="#43474e">
            <FONT><B>SURVIVAL
                OF DISCLAIMER</B></FONT>
          </FONT>
        </SPAN></P>
  </OL>
</OL>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.54in; margin-bottom: 0in; text-transform: uppercase">
  <BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 0.22in">
  <FONT COLOR="#43474e">
    <FONT>The
      provisions of this Section 2 and of Section 3 shall survive the
      termination of this SLA, but this shall not in any way imply or
      create any continued right to use the Software after termination of
      this SLA.</FONT>
  </FONT>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 0.22in"><BR>
</P>
<OL START=3>
  <LI>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><SPAN STYLE="text-transform: uppercase">
        <FONT COLOR="#43474e">
          <FONT><B>LIMITATION
              OF LIABILITY</B></FONT>
        </FONT>
      </SPAN></P>
</OL>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-bottom: 0in; text-transform: uppercase">
  <BR>
</P>
<OL>
  <OL>
    <LI>
      <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><SPAN STYLE="text-transform: uppercase">
          <FONT COLOR="#43474e">
            <FONT><B>LIMITATION
                OF LIABILITY</B></FONT>
          </FONT>
        </SPAN></P>
  </OL>
</OL>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.54in; margin-bottom: 0in; text-transform: uppercase">
  <BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 0.22in">
  <FONT COLOR="#43474e">
    <FONT>IN
      NO EVENT AND UNDER NO CIRCUMSTANCES SHALL OCEAN SERVICE, OUR
      LICENSORS OR OUR THIRD-PARTY SERVICE PROVIDERS BE LIABLE TO ANY USER
      ON ACCOUNT OF THAT USER’S USE OR MISUSE OF THE SOFTWARE. SUCH
      LIMITATION OF LIABILITY SHALL APPLY TO PREVENT RECOVERY OF INDIRECT,
      INCIDENTAL, CONSEQUENTIAL, SPECIAL, EXEMPLARY AND PUNITIVE DAMAGES,
      WHETHER SUCH CLAIM IS BASED ON WARRANTY, CONTRACT, TORT (INCLUDING,
      BUT NOT LIMITED TO, NEGLIGENCE) OR OTHERWISE (EVEN IF OCEAN SERVICE
      HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES). SUCH LIMITATION
      OF LIABILITY SHALL APPLY WHETHER THE DAMAGES ARISE FROM USE OR MISUSE
      OF AND RELIANCE ON THE SOFTWARE, FROM THE PERFORMANCE OR
      MISPERFORMANCE OF THE SOFTWARE, FROM INABILITY TO USE THE SOFTWARE,
      OR FROM THE INTERRUPTION, SUSPENSION OR TERMINATION OF THE SOFTWARE
      (INCLUDING SUCH DAMAGES INCURRED BY THIRD PARTIES). SUCH LIMITATION
      SHALL APPLY NOTWITHSTANDING A FAILURE OF ESSENTIAL PURPOSE OF ANY
      LIMITED REMEDY AND TO THE FULLEST EXTENT PERMITTED BY LAW. SOME
      STATES OR OTHER JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR
      LIMITATION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO
      THE ABOVE LIMITATIONS AND EXCLUSIONS MAY NOT APPLY TO YOU.</FONT>
  </FONT>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 0.22in"><BR>
</P>
<OL>
  <OL START=2>
    <LI>
      <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><SPAN STYLE="text-transform: uppercase">
          <FONT COLOR="#43474e">
            <FONT><B>DAMAGES
                CAP</B></FONT>
          </FONT>
        </SPAN></P>
  </OL>
</OL>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.54in; margin-bottom: 0in; text-transform: uppercase">
  <BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 0.22in">
  <FONT COLOR="#43474e">
    <FONT>EXCEPT
      AS LIMITED BY APPLICABLE LAW, REGARDLESS OF THE BASIS FOR YOUR CLAIM,
      OCEAN SERVICE’S, LICENSORS’ AND THIRD PARTY PROVIDERS’ TOTAL
      LIABILITY UNDER THIS SLA SHALL BE LIMITED TO DIRECT DAMAGES WHICH
      SHALL NOT EXCEED THE AMOUNT OF FEES PAID FOR THE LICENSED SOFTWARE
      GIVING RISE TO THE CLAIM, OR ONE U.S. DOLLAR ($1.00), WHICHEVER IS
      LESS. THESE LIMITATIONS SHALL APPLY NOTWITHSTANDING THE FAILURE OF
      THE ESSENTIAL PURPOSE OF ANY LIMITED REMEDY. THE FOREGOING PROVISIONS
      SHALL CONSTITUTE THE SOLE AND EXCLUSIVE REMEDY FOR MONETARY DAMAGES
      IN RESPECT OF ANY BREACH OF OR DEFAULT UNDER THIS AGREEMENT BY OCEAN
      SERVICE.</FONT>
  </FONT>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 0.22in"><BR>
</P>
<OL START=4>
  <LI>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><SPAN STYLE="text-transform: uppercase">
        <FONT COLOR="#43474e">
          <FONT><B>INDEMNIFICATION</B></FONT>
        </FONT>
      </SPAN></P>
</OL>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-bottom: 0in; text-transform: uppercase">
  <BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 0.22in">
  <FONT COLOR="#43474e">
    <FONT>To
      the maximum extent permitted by applicable law, you agree to
      indemnify and hold harmless Ocean Service and its subsidiaries,
      affiliates, joint ventures, suppliers, officers, directors,
      shareholders, employees and agents, from any claim or demand made by
      any third party due to or arising directly or indirectly out of your
      conduct or in connection with your use of the Software or its
      features, any alleged violation of these terms, or any alleged
      violation of any applicable law or regulation, including, but not
      limited to, alleged violation of proprietary or intellectual property
      rights. Ocean Service reserves the right, at its own expense, to
      assume the exclusive defense and control of any matter otherwise
      subject to indemnification by You, but doing so shall not excuse your
      indemnity obligations.</FONT>
  </FONT>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 0.22in"><BR>
</P>
<OL START=5>
  <LI>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><SPAN STYLE="text-transform: uppercase">
        <FONT COLOR="#43474e">
          <FONT><B>PRIVACY
              AND SECURITY</B></FONT>
        </FONT>
      </SPAN></P>
</OL>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-bottom: 0in; text-transform: uppercase">
  <BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 0.22in">
  <FONT COLOR="#43474e">
    <FONT>Although
      we have taken reasonable measures to prevent unauthorized persons
      from gaining access to your computer via the Software, we cannot
      foresee or control the actions of third parties. Therefore, use of
      the Software could make you vulnerable to security breaches that you
      might not otherwise face and could result in the loss of your privacy
      or property. You agree that Ocean Service is not liable to you for
      security breaches resulting from your use of the Software or
      otherwise.</FONT>
  </FONT>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 0.22in"><BR>
</P>
<OL START=6>
  <LI>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><A NAME="_GoBack"></A>
      <SPAN STYLE="text-transform: uppercase">
        <FONT COLOR="#43474e">
          <FONT><B>EXPORT
              CONTROLS.</B></FONT>
        </FONT>
      </SPAN>
    </P>
</OL>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-bottom: 0in; text-transform: uppercase">
  <BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 0.22in">
  <FONT COLOR="#43474e">
    <FONT>You
      are responsible for complying with trade regulations and both foreign
      and domestic laws. You acknowledge that the Software or its
      underlying technology may not be downloaded to or exported or
      re-exported: (a) into (or to a resident or national of) Cuba, Iraq,
      Iran, Libya, North Korea, Syria or any other country subject to
      United States embargo; (b) to anyone on the U.S. Treasury
      Department’s list of Specially Designated Nationals or on the U.S.
      Commerce Department’s Denied Party or Entity List; and (c) you will
      not export or re-export the Software to any prohibited country,
      person, end-user or entity specified by U.S. Export Laws.</FONT>
  </FONT>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 0.22in"><BR>
</P>
<OL START=7>
  <LI>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><SPAN STYLE="text-transform: uppercase">
        <FONT COLOR="#43474e">
          <FONT><B>OCEAN
              SERVICE WILL NOT PROVIDE NOTICE OF UPDATES.</B></FONT>
        </FONT>
      </SPAN></P>
</OL>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-bottom: 0in; text-transform: uppercase">
  <BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 0.22in">
  <FONT COLOR="#43474e">
    <FONT>Ocean
      Service reserves the right to modify or change this SLA from time to
      time without notice to You. The latest version will be available on
      the Site. Ocean Service also may update or modify the Software from
      time to time at its discretion. Your election to continue use of the
      Software, after the date of posting of these modifications to the SLA
      or to the Software constitutes acceptance of those modifications. If
      you do not agree with the modifications, do not use the Software.</FONT>
  </FONT>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 0.22in"><BR>
</P>
<OL START=8>
  <LI>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><SPAN STYLE="text-transform: uppercase">
        <FONT COLOR="#43474e">
          <FONT><B>TERM
              AND TERMINATION</B></FONT>
        </FONT>
      </SPAN></P>
</OL>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-bottom: 0in; text-transform: uppercase">
  <BR>
</P>
<OL>
  <OL>
    <LI>
      <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><SPAN STYLE="text-transform: uppercase">
          <FONT COLOR="#000000">
            <FONT><B>TERMINATION</B></FONT>
          </FONT>
        </SPAN></P>
  </OL>
</OL>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.54in; margin-bottom: 0in; text-transform: uppercase">
  <BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 0.22in">
  <FONT COLOR="#43474e">
    <FONT>This
      SLA is effective as soon as you install, use, copy or distribute the
      Software and shall continue until it is terminated by Ocean Service
      or you, as provided for under the terms of this Section. Unless
      otherwise agreed to in writing with us, either you or we may
      terminate the contractual agreement represented by this SLA at any
      time upon notice to the other party. This SLA, including without
      limitation your right to the Software as specified in Section 1,
      terminates immediately and without notice from Ocean Service if you
      fail to comply with any of its provisions. Upon termination you shall
      immediately discontinue use of and destroy the Software and all
      copies or portions thereof, including any master copy, and within ten
      (10) days certify in writing to Ocean Service that all copies have
      been destroyed.</FONT>
  </FONT>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 0.22in"><BR>
</P>
<OL>
  <OL START=2>
    <LI>
      <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><SPAN STYLE="text-transform: uppercase">
          <FONT COLOR="#43474e">
            <FONT><B>SURVIVAL
                OF TERMINATION</B></FONT>
          </FONT>
        </SPAN></P>
  </OL>
</OL>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.54in; margin-bottom: 0in; text-transform: uppercase">
  <BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 0.22in">
  <FONT COLOR="#43474e">
    <FONT>Sections
      1.3, 2, 3, 4, 6, 8.2 and 9 of these terms will survive any
      termination of this SLA. The termination of this SLA does not limit
      Ocean Service’s other rights it may have under applicable law.</FONT>
  </FONT>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 0.22in"><BR>
</P>
<OL START=9>
  <LI>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><SPAN STYLE="text-transform: uppercase">
        <FONT COLOR="#43474e">
          <FONT><B>MISCELLANEOUS
            </B></FONT>
        </FONT>
      </SPAN>
    </P>
</OL>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-bottom: 0in; text-transform: uppercase">
  <BR>
</P>
<OL>
  <OL>
    <LI>
      <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><SPAN STYLE="text-transform: uppercase">
          <FONT COLOR="#43474e">
            <FONT><B>SEVERAbility;
                NO WAIVER; AUDIT</B></FONT>
          </FONT>
        </SPAN></P>
  </OL>
</OL>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.54in; margin-bottom: 0in; text-transform: uppercase">
  <BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 0.22in">
  <FONT COLOR="#43474e">
    <FONT>If
      for any reason a court of competent jurisdiction finds any provision
      or portion of this SLA to be unenforceable, it shall be enforced to
      the maximum extent permissible, and the remaining provisions shall
      remain in full force. No claim or right arising out of this Agreement
      can be waived or discharged by one party, in whole or in part, unless
      in writing, nor shall any waiver be applicable except in the specific
      instance for which it is given. You agree that, on Ocean Service’s
      request, you will certify in writing your compliance with the terms
      of this SLA. </FONT>
  </FONT>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 0.22in"><BR>
</P>
<OL>
  <OL START=2>
    <LI>
      <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><SPAN STYLE="text-transform: uppercase">
          <FONT COLOR="#43474e">
            <FONT><B>ASSIGNMENT</B></FONT>
          </FONT>
        </SPAN></P>
  </OL>
</OL>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.54in; margin-bottom: 0in; text-transform: uppercase">
  <BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 0.22in">
  <FONT COLOR="#43474e">
    <FONT>You
      may not assign this SLA or sublicense, assign, transfer or delegate
      any right or duty hereunder, without the prior written consent of
      Ocean Service, which consent shall be granted or withheld at our sole
      discretion. Notwithstanding the foregoing, Ocean Service may assign
      or transfer this SLA or any rights granted hereunder without your
      prior consent. This SLA is binding on and will inure to the benefit
      of the parties successors and permitted assigns.</FONT>
  </FONT>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 0.22in"><BR>
</P>
<OL>
  <OL START=3>
    <LI>
      <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><SPAN STYLE="text-transform: uppercase">
          <FONT COLOR="#43474e">
            <FONT><B>ENTIRE
                AGREEMENT</B></FONT>
          </FONT>
        </SPAN></P>
  </OL>
</OL>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.54in; margin-bottom: 0in; text-transform: uppercase">
  <BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 0.22in">
  <FONT COLOR="#43474e">
    <FONT>This
      SLA and the terms expressly incorporated by reference herein,
      constitute the entire agreement between the parties with respect to
      the subject matter hereof and supersede and replace all prior or
      contemporaneous understandings or agreements, written or oral,
      regarding such subject matter.</FONT>
  </FONT>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><BR>
</P>
