@import "variables";

app-breadcrumbs {
  @include fxLayout(column);
  padding: 0 30px;
  .app-breadcrumbs {
    @include app-content-margin();

    background: mat-color($background, widget);
    line-height: 1.2em;
    font-size: 90%;
    margin-top: 20px;
    overflow-x: auto;
    user-select: none;

    > div {
      padding: 7px 15px 5px;
      white-space: nowrap;

      a {
        margin-right: 5px;
        position: relative;

        &:not(:last-child) {
          span {
            padding-right: 20px;

            &::after {
              color: mat-color($foreground, text);
              content: "→";
              display: inline-block;
              line-height: 14px;
              position: absolute;
              top: -1px;
              right: 0;
            }
          }
        }
      }

      > span {
        line-height: 16px;
      }
    }
  }

  > :last-child {
    margin-bottom: 20px;
  }
}
