<layout-panel-wrapper
  panelTitle="My Finances"
  icon="attach_money"
>
  <div class="subpanel-content">
    <!-- FIXME remove when it's implemented -->
    <layout-notification type="info" fxFlexAlign="stretch">
      This is a work in progress, coming soon!
    </layout-notification>

    <strong>
      $0.00
    </strong>

    <div class="panel-actions" fxLayout="row">
      <a appLink="FINANCES_TRANSFER">Transfer Funds</a>
      <span class="text-separator"></span>
      <a appLink="FINANCES_BANK">Manage Bank Information</a>
      <span class="text-separator"></span>
      <a appLink="FINANCES_TRANSACTIONS">View All Transactions</a>
    </div>

  </div>
</layout-panel-wrapper>
