<mat-form-field class="ocean-input-search" appearance="fill" floatLabel="never">
  <input matInput name="search" [matAutocomplete]="auto" [formControl]="searchCtrl"
    [placeholder]="selected.length ? 'Add Recipient' : 'Search Recipient'">
  <ocean-icon [iconType]="iconType.SEARCH" matSuffix></ocean-icon>
</mat-form-field>

<mat-autocomplete #auto="matAutocomplete">
  <mat-option *ngFor="let account of accounts" (onSelectionChange)="doSelect(account)">
    <span>{{ account.name }}</span>
  </mat-option>
</mat-autocomplete>

<mat-list *ngIf="selected.length">
  <mat-list-item *ngFor="let account of selected">
    <ocean-icon matListIcon [iconType]="iconType.ACCOUNT_CIRCLE"></ocean-icon>
    <span matLine>{{ account.name }}</span>
    <button mat-icon-button (click)="doRemove(account)">
      <ocean-icon [iconType]="iconType.CLEAR" aria-label="remove"></ocean-icon>
    </button>
  </mat-list-item>
</mat-list>
