@import 'variables';

app-messages-recipients-search {
  @include fxLayoutAlign(stretch, stretch, column);

  .mat-list-base {
    margin-bottom: 15px;

    .mat-list-item {
      height: 30px !important;

      .mat-list-item-content {
        padding: 0;

        .mat-list-text {
          padding-left: 5px !important;
        }

        .mat-icon-button {
          line-height: 30px;
          height: 30px;
          width: 30px;
        }
      }
    }
  }
}
