<div class="payment-container">
  <div class="payment-content">

  </div>
  <div class="payment-content-card" style="text-align: center;">
    <div class="heading">
      <h2 class="title-page" #top>Time to Sign the Agreements!</h2>
      <p>Click “Review and Sign” to electronically sign the agreement between you and XXX yards</p>
    </div>
    <div class="credit-card-footer-wrapper">
      <app-button (btnClick)="sign()" [disabled]="">
        Review and Sign
      </app-button>
    </div>

  </div>

</div>