app-page-faq {
  padding-bottom: 40px;

  .mat-expansion-panel-header-title {
    font-weight: 600;
    font-size: 120%;
    line-height: 120%;
  }

  .mat-expansion-panel-body {
    font-size: 120%;
    line-height: 150%;
  }
}
