<app-breadcrumbs></app-breadcrumbs>
<h2 class="title-page">{{'FAQ.TITLE' | translate}}</h2>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{'FAQ.WHAT_SIZE_BOATS_CAN_BID.TITLE' | translate}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    {{'FAQ.WHAT_SIZE_BOATS_CAN_BID.DESCRIPTION' | translate}}
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{'FAQ.IS_ANY_KIND_OF_REPAIR_ABLE_TO_BID.TITLE' | translate}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    {{'FAQ.IS_ANY_KIND_OF_REPAIR_ABLE_TO_BID.DESCRIPTION' | translate}}
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{'FAQ.HOW_DO_I_KNOW_THE_REPAIR_IS_DONE_PROPERLY.TITLE' | translate}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    {{'FAQ.HOW_DO_I_KNOW_THE_REPAIR_IS_DONE_PROPERLY.DESCRIPTION' | translate}}
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{'FAQ.HOW_DO_I_KNOW_THE_REPAIR_PROFESSIONAL_IS_CERTIFIED.TITLE' | translate}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    {{'FAQ.HOW_DO_I_KNOW_THE_REPAIR_PROFESSIONAL_IS_CERTIFIED.DESCRIPTION' | translate}}
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{'FAQ.HOW_MUCH_CAN_I_SAVE_ON_REPAIR.TITLE' | translate}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    {{'FAQ.HOW_MUCH_CAN_I_SAVE_ON_REPAIR.DESCRIPTION' | translate}}
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{'FAQ.CAN_THE_REPAIR_BE_DONE_AT_MY_HOME.TITLE' | translate}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    {{'FAQ.CAN_THE_REPAIR_BE_DONE_AT_MY_HOME.DESCRIPTION' | translate}}
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{'FAQ.WHAT_IF_THERE_IS_MORE_DAMAGE.TITLE' | translate}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    {{'FAQ.WHAT_IF_THERE_IS_MORE_DAMAGE.DESCRIPTION' | translate}}
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{'FAQ.HOW_DO_I_MAKE_PAYMENTS.TITLE' | translate}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    {{'FAQ.HOW_DO_I_MAKE_PAYMENTS.DESCRIPTION' | translate}}
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{'FAQ.IS_MY_INFORMATION_SECURE.TITLE' | translate}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    {{'FAQ.IS_MY_INFORMATION_SECURE.DESCRIPTION' | translate}}
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{'FAQ.HOW_LONG_IS_THE_BIDDING_PROCESS.TITLE' | translate}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    {{'FAQ.HOW_LONG_IS_THE_BIDDING_PROCESS.DESCRIPTION' | translate}}
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{'FAQ.HOW_DO_I_MONITOR_THE_REPAIR_PROCESS.TITLE' | translate}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    {{'FAQ.HOW_DO_I_MONITOR_THE_REPAIR_PROCESS.DESCRIPTION' | translate}}
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{'FAQ.HOW_DO_I_KNOW_THE_BEST_OFFER.TITLE' | translate}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    {{'FAQ.HOW_DO_I_KNOW_THE_BEST_OFFER.DESCRIPTION' | translate}}
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{'FAQ.CAN_I_BID_ON_JOBS_OUTSIDE_MY_AREA.TITLE' | translate}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    {{'FAQ.CAN_I_BID_ON_JOBS_OUTSIDE_MY_AREA.DESCRIPTION' | translate}}
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{'FAQ.HOW_I_KNOW_I_WIN_BID.TITLE' | translate}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    {{'FAQ.HOW_I_KNOW_I_WIN_BID.DESCRIPTION' | translate}}
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{'FAQ.WHO_CAN_SEE_THE_BIDS.TITLE' | translate}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    {{'FAQ.WHO_CAN_SEE_THE_BIDS.DESCRIPTION' | translate}}
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{'FAQ.WHAT_IF_THE_REPAIR_NEEDS_FIX_AGAIN.TITLE' | translate}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    {{'FAQ.WHAT_IF_THE_REPAIR_NEEDS_FIX_AGAIN.DESCRIPTION' | translate}}
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{'FAQ.HOW_DO_I_GET_IN_CONTACT_WITH_SHIPYARD/SURVEYOR.TITLE' | translate}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    {{'FAQ.HOW_DO_I_GET_IN_CONTACT_WITH_SHIPYARD/SURVEYOR.DESCRIPTION' | translate}}
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{'FAQ.WHAT_IS_THE_COMISSION.TITLE' | translate}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    {{'FAQ.WHAT_IS_THE_COMISSION.DESCRIPTION' | translate}}
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{'FAQ.HOW_DO_I_KNOW_THE_CONTRACTOR_IS_RELIABLE.TITLE' | translate}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    {{'FAQ.HOW_DO_I_KNOW_THE_CONTRACTOR_IS_RELIABLE.DESCRIPTION' | translate}}
  </mat-expansion-panel>

</mat-accordion>