.wrapper {
  margin-top: 32px;
}

.deposit-info {
  margin-bottom: 18px;
  font-size: 14px;
}

app-form-builder {
  flex: 1;
}

.submit-deposit-wrapper {
  margin-top: 16px;
  text-align: center;
}

.deposit-success-banner {
  margin-bottom: 20px;
}

p {
  color: #283B4D;
}

.minDeposit {
  font-size: 14px;
  margin: 10px 0 0 auto;
}
