<mat-menu #profileMenu="matMenu" class="profile">
  <ng-template matMenuContent>
    <button mat-menu-item *ngFor="let link of links" [disabled]="link.route.toString() === currentUrl"
      [routerLink]="[ link.route ]">
      <mat-icon mat-list-icon>{{ link.icon }}</mat-icon>
      <span matLine>{{ link.title | translate}}</span>
    </button>
  </ng-template>
</mat-menu>

<button type="button" mat-raised-button [matMenuTriggerFor]="profileMenu">
  {{'PROFILE.MENU' | translate}} <mat-icon>expand_more</mat-icon>
</button>