<mat-menu #profileMenu="matMenu" class="profile">
  <ng-template matMenuContent>
    <button mat-menu-item *ngFor="let link of links" [disabled]="link.route.toString() === currentUrl"
      [routerLink]="[ link.route ]">
      <ocean-icon [iconType]="link.icon" mat-list-icon></ocean-icon>
      <span matLine>{{ link.title | translate}}</span>
    </button>
  </ng-template>
</mat-menu>

<button type="button" mat-raised-button [matMenuTriggerFor]="profileMenu">
  {{'PROFILE.MENU' | translate}} <ocean-icon [iconType]="iconType.EXPAND_MORE"></ocean-icon>
</button>
