::ng-deep {
  .form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .full {
    width: 100%;
    text-align: left;
  }

  .half {
    text-align: left;
    position: relative;
    width: 49.2%;
    display: block;
  }
}

.content-holder {
  padding: 1rem 0;
  position: relative;
}

.at-back {
  position: absolute;
  right: 0;
}
