@import 'variables';

.boat-card-details {
  padding: 20px;
  background: rgba(237, 234, 230, 0.5);
}

img {
  object-fit: contain;
}

.boat-card-details-content {
  display: flex;
  gap: 20px;
}

.boat-info {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  margin-top: -20px;

  p {
    margin: 0;
  }
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.block-for-img {
  width: 150px;
  height: 95px;
  border: 2px dashed mat-color($base, A100);
}

.default-img {
  height: 95px;
}

.job-name-text {
  margin: 0;
}

.job-budget-text,
.job-description-text {
  font-size: 14px;
}

.disable {
  pointer-events: none;
  color: gray;
}

:host ::ng-deep {
  .form-control-wrapper {
    display: flex;
    align-items: center;

    label + .mat-form-field {
      margin: 0 !important;
    }

    .mat-form-field-appearance-legacy .mat-form-field-wrapper {
      padding-bottom: 15px !important;
    }

    .mat-form-field {
      display: flex;
      align-items: center;
      margin: 0;
    }

    .trim-text {
      position: relative;
      width: fit-content;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      &:not(.mat-form-field-readonly),
      &.ng-invalid {
        flex: 1;
        width: 100%;
      }

      .mat-form-field,
      .mat-form-field-wrapper {
        position: static;
      }

      .mat-form-field-subscript-wrapper {
        overflow: visible;
        left: 0;
      }

      & > .d-flex {
        flex: 1;

        .mat-form-field-wrapper {
          width: 100%;
        }
      }

      @media #{$lt-lg} {
        &:not(.mat-form-field-readonly) {
          display: inline-block;
          label {
            display: none;
          }
          .mat-form-field {
            display: inline-block;
          }
        }
      }
    }

    .update-btn {
      flex: 0;
      white-space: nowrap;
      padding: 0 10px;
      cursor: pointer;
      color: mat-color($base, A100);
    }

    .edit-btn {
      white-space: nowrap;
      display: flex;
      align-items: center;
      padding: 0 10px;
      cursor: pointer;
      color: mat-color($base, A100);
    }

    .edit-pencil-image {
      margin-right: 5px;
    }
  }

  .minus-margin-top-20:not(:nth-of-type(1)) {
    margin-top: -20px;
  }
}
