<h2 class="title-process">{{'PROFILE.CREATE_AN_ACCOUNT' | translate}}</h2>

<form [formGroup]="form" autocomplete="off" novalidate role="form">
  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="4%">
    <div class="info-personal" fxLayout="column" fxFlex="48" fxFlex.xs="100">
      <h2 class="title-process subHeading">{{'PROFILE.PERSONAL_INFORMATION' | translate}}</h2>
      <app-field-text contextId="signup" formControlName="firstName" label="FORMS.LABELS.FIRST_NAME" [maxLength]="50"
        focus="true">
      </app-field-text>
      <app-field-email contextId="signup" formControlName="email" label="FORMS.LABELS.EMAIL_ADDRESS"
      hintLabel="FORMS.HINTS.VERIFICATION_EMAIL"></app-field-email>
    </div>
    <div class="info-login" fxLayout="column" fxFlex="48" fxFlex.xs="100">
        <app-field-text contextId="signup" formControlName="lastName"
          label="FORMS.LABELS.LAST_NAME" [maxLength]="50">
        </app-field-text>
        <div class="form-group inline-items mt-10">
          <label for="signup-usertype" (click)="type.open()">
            {{'PROFILE.I_AM_A' | translate}}
            <span aria-hidden="true">*</span>
          </label>
          <mat-form-field>
            <mat-select
              id="signup-usertype"
              data-testid="signup-usertype"
              placeholder=""
              formControlName="userTypes"
              [compareWith]="compareWith"
              #type
            >
              <mat-option *ngFor="let user of userTypes" [value]="[user]">
                {{ user?.type | formatType }}
              </mat-option>
            </mat-select>
            <mat-hint>
              {{'FORMS.HINTS.ROLE' | translate}}
            </mat-hint>
            <mat-error>{{'FORMS.LABELS.REQUIRED' | translate}}</mat-error>
          </mat-form-field>
        </div>
    </div>
  </div>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="4%">
      <div class="info-personal" fxLayout="column" fxFlex="48" fxFlex.xs="100">
        <h2 class="title-process subHeading"> {{'PROFILE.LOGIN_INFORMATION' | translate}}</h2>
        <app-field-text
          contextId="signup"
          formControlName="login"
          label="FORMS.LABELS.USERNAME"
          errorMsg="FORMS.ERRORS.USERNAME"
          [minLength]="5"
          [maxLength]="50"
          [tip]="usernameTips"
        >
        </app-field-text>
        <app-field-password-confirm contextId="signup" formControlName="password"
          label="FORMS.LABELS.PASSWORD">
        </app-field-password-confirm>
      </div>
      <div fxLayout="column" fxFlex="48" fxFlex.xs="100" fxLayoutAlign="flex-end">
        <div [ngSwitch]="roleSelected[0]?.type" class="text-center mt-15" *ngIf="roleSelected">
          <div *ngSwitchCase="'BOAT_OWNER'" class="boat-owner-wrapper">
            <button
              mat-raised-button
              color="primary"
              type="submit"
              [disabled]="form.invalid"
              (click)="onSubmit()"
            >
            {{'COMMON.BUTTONS.CREATE_ACCOUNT' | translate}}
          </button>
          </div>
          <div *ngSwitchCase="'SHIPYARD'">
            <app-shipyard-surveyor-signup [role]="roleSelected[0].type"
              (formValue)="onSubmit($event)" [isParentValid]="form.invalid">
            </app-shipyard-surveyor-signup>
          </div>
          <div *ngSwitchCase="'SURVEYOR'">
            <app-shipyard-surveyor-signup [role]="roleSelected[0].type"
              (formValue)="onSubmit($event)" [isParentValid]="form.invalid">
            </app-shipyard-surveyor-signup>
          </div>
        </div>
      </div>
      </div>
</form>
