<layout-panel-wrapper>
  <div class="subpanel-content">
    <mat-nav-list class="ocean-menu">
      <ng-container *ngFor="let link of links">
        <mat-list-item [attr.disabled]="link.route.toString() === currentUrl ? '' : null" [routerLink]="[ link.route ]">
          <ocean-icon [iconType]="link.icon" [as]="link.as" mat-list-icon></ocean-icon>
          <span matLine>{{ link.title | translate }}</span>
        </mat-list-item>
      </ng-container>
    </mat-nav-list>
  </div>
</layout-panel-wrapper>
