
<h2 class="title-page">Notifications</h2>

<div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="4%">
  <div fxFlex="63" fxLayout="column">

    <app-notifications-index fxFlexFill></app-notifications-index>

  </div>
  <div fxFlex="33" fxLayout="column" fxLayoutGap="20px">

    <app-profile-widget></app-profile-widget>

    <button type="button" mat-stroked-button appLink="DASHBOARD">
      Back to Dashboard
    </button>

    <!-- <app-messages-widget></app-messages-widget> -->

  </div>
</div>
