<div class="contain" *ngIf="!isCreateSuccess">
  <button mat-flat-button matStepperPrevious>
    <ocean-icon [iconType]="iconType.CHEVRON_LEFT"></ocean-icon>
    <span>{{'COMMON.BUTTONS.BACK' | translate}}</span>
  </button>
  <div class="home-title">
    {{ 'AUCTIONS.CREATE.PREVIEW_YOUR_LISTING' | translate }}
  </div>
  <layout-two-columns [width]="50">
    <div class="carousel">
      <ng-container *ngIf="allImage && allImage.length; else tempImg">
        <app-auction-carousel [images]="allImage"></app-auction-carousel>
      </ng-container>
      <ng-template #tempImg>
        <img src="/assets/images/no-image.png" alt="" class="default-img-big" />
      </ng-template>
    </div>
    <div class="auction-info" aside>
      <div class="inf">{{ jobName }}</div>
      <div class="details-card">
        <p>
          <label class="text-justify text">
            <b>
              {{ 'FORMS.LABELS.BOAT_LENGTH' | translate }} ,
            </b>
            {{ boat?.length }}
          </label>
        </p>
        <p>
          <label class="text-justify text">
            <b>
              {{ 'FORMS.LABELS.BOAT_TYPE' | translate }},
            </b>
            {{ boat?.type }}
          </label>
        </p>
        <p>
          <label class="text-justify text">
            <b>
              {{ 'FORMS.LABELS.BOAT_YEAR' | translate }}:
            </b>
            {{ boat?.makeModelYear }}
          </label>
        </p>

        <p>
          <label class="text-justify text">
            <b> {{ 'FORMS.LABELS.LOCATION' | translate }}: </b>
            {{ boat?.address }}
          </label>
        </p>
        <p>
          <label class="text-justify text">
            <b> {{ 'FORMS.LABELS.ZIP_CODE' | translate }}: </b>
            {{ boat?.zipCode }}
          </label>
        </p>
        <p>
          <label class="text text-justify">
            <b>{{ 'FORMS.LABELS.DESCRIPTION' | translate }}: </b>
          </label>
          <br />{{ jobDescription }}
        </p>
      </div>
    </div>
  </layout-two-columns>

  <layout-two-columns [width]="25" class="middle-layout">
    <div class="budget-details">
      <h3>
        <b>{{ 'AUCTIONS.BIDS' | translate }}</b>
      </h3>
      <hr />
      <p>
        <b>{{ 'FORMS.LABELS.LISTED' | translate }}: </b
        >{{ auctionStartDate | date: 'shortDate' }}
      </p>
      <p>
        <b>{{ 'FORMS.LABELS.ENDS' | translate }}: </b>
        {{ auctionEndDate | date: 'shortDate' }}
      </p>
    </div>
  </layout-two-columns>
  <app-finalize [form]="form" [isStarted]="isStarted"></app-finalize>
</div>
