<P CLASS="western" ALIGN=CENTER STYLE="margin-left: 0.5in; margin-right: 0.89in">
  <FONT>
    <FONT><U><B>DATA PROTECTION
          POLICY</B></U></FONT>
  </FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0in; margin-right: 0.89in; text-indent: 0.5in">
  <FONT>
    <FONT><B>Content</B></FONT>
  </FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-right: 0.89in">
  <BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-right: 0.89in">
  <FONT>
    <FONT>1. Why this
      Policy exists?</FONT>
  </FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-right: 0.89in">
  <FONT>
    <FONT>2. The Data
      Protection Laws’ Principles</FONT>
  </FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-right: 0.89in">
  <FONT>
    <FONT>3. Policy Scope
      and Risks</FONT>
  </FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-right: 0.89in">
  <FONT>
    <FONT>4. Personal Data
      and Lawful Purposes for Collecting it</FONT>
  </FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-right: 0.89in">
  <FONT>
    <FONT>5.
      Responsibilities</FONT>
  </FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-right: 0.89in">
  <FONT>
    <FONT>6. Data
      Protection Officer</FONT>
  </FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-right: 0.89in">
  <FONT>
    <FONT>7. Data
      Protection Guidelines</FONT>
  </FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-right: 0.89in">
  <FONT>
    <FONT>7.1 Storage</FONT>
  </FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-right: 0.89in">
  <FONT>
    <FONT>7.2 Use</FONT>
  </FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-right: 0.89in">
  <FONT>
    <FONT>7.3 Accuracy</FONT>
  </FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-right: 0.89in">
  <FONT>
    <FONT>8. Data
      Subjects’ Rights </FONT>
  </FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-right: 0.89in">
  <FONT>
    <FONT>9. Data
      Subjects’ Requests</FONT>
  </FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-right: 0.89in">
  <FONT>
    <FONT>10. Disclosing
      data for other reasons</FONT>
  </FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-right: 0.89in">
  <FONT>
    <FONT>11. Compliance and
      Review</FONT>
  </FONT>
</P>
<P CLASS="western"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-right: 0.89in; margin-top: 0.14in">
  <FONT>
    <FONT><B>1. Why this policy
        exists?</B></FONT>
  </FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-right: 0.89in; margin-top: 0.14in">
  <FONT>
    <FONT>Ocean Service Center
      (the Company) understands the importance of protecting personal
      information and is committed to complying with the Data Protection
      Laws, meaning all the laws applicable to the Company that regulate
      how organizations must collect and handle Personal Data (any
      information relating to an identified o identifiable individual, it
      can be anything from a name, photo, email address, bank details, IP
      address, or a combination of the data that could directly or
      indirectly identify the person).</FONT>
  </FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-right: 0.89in; margin-top: 0.14in">
  <FONT>
    <FONT>Ocean Service Center
      needs to collect and Process (meaning anything that is done with the
      Personal Data, including store, transfer, or delete it) Personal Data
      about the people it interacts with, to carry out its business. These
      can include users, clients, third-party suppliers, business contacts,
      employees and other people the organization has a relationship with
      or may need to contact (Data Subjects).</FONT>
  </FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-right: 0.89in; margin-top: 0.14in">
  <FONT>
    <FONT>This Data Protection
      Policy (the Policy) describes how Personal Data must be collected and
      Processed to meet the Company’s data protection standards. This
      Policy ensures Ocean Service Center complies with the Data Protection
      Laws, protects Data Subject’s rights, and protects itself from the
      risks of a data</FONT>
  </FONT>
  <FONT>
    <FONT>
    </FONT>
  </FONT>
  <FONT>
    <FONT>breach.
      Ocean Service Center is committed to ensuring that its employees are
      appropriately trained and supported to achieve compliance with the
      Data Protection Laws.</FONT>
  </FONT>
</P>
<P CLASS="western"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-right: 0.89in; margin-top: 0.14in">
  <FONT>
    <FONT><B>2. The Data
        Protection Laws’ Principles</B></FONT>
  </FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-right: 0.89in; margin-top: 0.14in">
  <FONT>
    <FONT>The Data Protection
      Laws are generally underpinned by seven important principles:
      Lawfulness, fairness and transparency; Purpose limitation; Data
      minimization; Accuracy; Storage limitation; Integrity and
      Confidentiality; and Accountability. According to these principles,
      Personal Data must be:</FONT>
  </FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-right: 0.89in; margin-top: 0.14in">
  <BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-right: 0.89in">
  <FONT>
    <FONT>1. Processed
      fairly and lawfully</FONT>
  </FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-right: 0.89in">
  <FONT>
    <FONT>2. Collected
      and Processed with transparency</FONT>
  </FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-right: 0.89in">
  <FONT>
    <FONT>3. Obtained only for specific, lawfulpurposes</FONT>
  </FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-right: 0.89in">
  <FONT>
    <FONT>4. Adequate, relevant and notexcessive</FONT>
  </FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-right: 0.89in">
  <FONT>
    <FONT>5.
      Accurate and kept up todate</FONT>
  </FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-right: 0.89in">
  <FONT>
    <FONT>6. Held for no longer thannecessary</FONT>
  </FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-right: 0.89in">
  <FONT>
    <FONT>7. Processed in accordance with the rights of DataSubjects</FONT>
  </FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-right: 0.89in">
  <FONT>
    <FONT>8. Protected in appropriateways</FONT>
  </FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-right: 0.89in">
  <FONT>
    <FONT>9. Destroyed when lawfully requested by the affected individual</FONT>
  </FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-right: 0.89in">
  <FONT>
    <FONT>10. Transferred only if an adequate level ofprotection is ensured</FONT>
  </FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-right: 0.89in">
  <FONT>
    <FONT>11. Data
      controllers and Processors must be able to demonstrate compliance
      with the Data Protection Laws. </FONT>
  </FONT>
</P>
<P CLASS="western"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-right: 0.89in; margin-top: 0.14in">
  <FONT>
    <FONT><B>3. Policy Scope
        and Risks </B></FONT>
  </FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-right: 0.89in; margin-top: 0in">
  <FONT>
    <FONT>This Policy applies
      to the offices of Ocean Service Center, all its employees, whether
      permanent or temporal, and all its contractors, consultants,
      suppliers and any other people working on behalf of</FONT>
  </FONT>
  <FONT>
    <FONT>
    </FONT>
  </FONT>
  <FONT>
    <FONT>Ocean
      Service Center.</FONT>
  </FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-right: 0.89in; margin-top: 0.14in">
  <FONT>
    <FONT>It applies to all
      Personal Data that the Company collects and Processes, including
      names of</FONT>
  </FONT>
  <FONT>
    <FONT>
    </FONT>
  </FONT>
  <FONT>
    <FONT>individuals,
      date of birth, username, photos, social media accounts, postal</FONT>
  </FONT>
  <FONT>
    <FONT>
      or e</FONT>
  </FONT>
  <FONT>
    <FONT>mail</FONT>
  </FONT>
  <FONT>
    <FONT>
    </FONT>
  </FONT>
  <FONT>
    <FONT>addresses,
      telephone</FONT>
  </FONT>
  <FONT>
    <FONT>
    </FONT>
  </FONT>
  <FONT>
    <FONT>numbers,
      Driver’s License, Taxpayer identification number, or any other
      official identification number or document, IP address, geographic
      location, credit card information, bank account information, and any
      other information or document relating to identifiable individuals.</FONT>
  </FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-right: 0.89in; margin-top: 0.14in">
  <FONT>
    <FONT>This policy helps to
      protect Ocean Service Center from data security risks, including data
      breaches (for instance, information being given out inappropriately),
      failing to protect Data Subject’s rights, and reputational damage
      (the Company could suffer if</FONT>
  </FONT>
  <FONT>
    <FONT>
    </FONT>
  </FONT>
  <FONT>
    <FONT>an
      unauthorized person successfully gained access to Personal Data
      stored by the Company).</FONT>
  </FONT>
</P>
<P CLASS="western"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-right: 0.89in; margin-top: 0.14in">
  <FONT>
    <FONT><B>4. Personal Data and
        Lawful Purposes for Collecting it</B></FONT>
  </FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-right: 0.89in; margin-top: 0.14in">
  <FONT>
    <FONT><SPAN STYLE="font-weight: normal">Ocean
        Service Center collects and Processes only the personal data that is
        necessary to provide services to its users. These are the categories
        of Personal Data that Ocean Service Center collects and the Lawful
        Purposes for collecting it.</SPAN></FONT>
  </FONT>
</P>
<P CLASS="western"><BR>
</P>
<TABLE WIDTH=624 CELLPADDING=7 CELLSPACING=0 BGCOLOR="#ffffff" STYLE="margin-left: 0.5in;">
  <COL WIDTH=62>
  <COL WIDTH=194>
  <COL WIDTH=229>
  <COL WIDTH=81>
  <TR VALIGN=TOP>
    <TD WIDTH=62 BGCOLOR="#ffffff"
      STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
      <P CLASS="western" ALIGN=CENTER STYLE="margin-left: 0in">
        <FONT>
          <FONT>
            <FONT STYLE="font-size: 9pt"><B>General
                Purpose</B></FONT>
          </FONT>
        </FONT>
      </P>
    </TD>
    <TD WIDTH=194 BGCOLOR="#ffffff"
      STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
      <P CLASS="western" ALIGN=CENTER STYLE="margin-left: 0in">
        <FONT>
          <FONT>
            <FONT STYLE="font-size: 9pt"><B>Data
                collected</B></FONT>
          </FONT>
        </FONT>
      </P>
    </TD>
    <TD WIDTH=229 BGCOLOR="#ffffff"
      STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
      <P CLASS="western" ALIGN=CENTER STYLE="margin-left: 0in">
        <FONT>
          <FONT>
            <FONT STYLE="font-size: 9pt"><B>Purpose
                for collection</B></FONT>
          </FONT>
        </FONT>
      </P>
    </TD>
    <TD WIDTH=81 BGCOLOR="#ffffff"
      STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
      <P CLASS="western" ALIGN=CENTER STYLE="margin-left: 0in">
        <FONT>
          <FONT>
            <FONT STYLE="font-size: 9pt"><B>Lawful
                basis for processing</B></FONT>
          </FONT>
        </FONT>
      </P>
    </TD>
  </TR>
  <TR VALIGN=TOP>
    <TD WIDTH=62 BGCOLOR="#ffffff"
      STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
      <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0in">
        <FONT>
          <FONT>
            <FONT STYLE="font-size: 9pt">To
              give users access to our service platform</FONT>
          </FONT>
        </FONT>
      </P>
    </TD>
    <TD WIDTH=194 BGCOLOR="#ffffff"
      STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
      <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0in">
        <FONT>
          <FONT>
            <FONT STYLE="font-size: 9pt">Name,
              username, user preferences, email, other contact information,
              geographic location, and profile picture.</FONT>
          </FONT>
        </FONT>
      </P>
    </TD>
    <TD WIDTH=229 BGCOLOR="#ffffff"
      STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
      <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0in">
        <FONT>
          <FONT>
            <FONT STYLE="font-size: 9pt">Process
              users’ registration and give them access to the platform as
              registered users;</FONT>
          </FONT>
        </FONT>
      </P>
      <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0in"><BR>
      </P>
      <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0in">
        <FONT>
          <FONT>
            <FONT STYLE="font-size: 9pt">Administer
              and develop the Company’s business relationship with users.</FONT>
          </FONT>
        </FONT>
      </P>
    </TD>
    <TD WIDTH=81 BGCOLOR="#ffffff"
      STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
      <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0in">
        <FONT>
          <FONT>
            <FONT STYLE="font-size: 9pt">Consent</FONT>
          </FONT>
        </FONT>
      </P>
    </TD>
  </TR>
  <TR VALIGN=TOP>
    <TD WIDTH=62 BGCOLOR="#ffffff"
      STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
      <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0in">
        <FONT>
          <FONT>
            <FONT STYLE="font-size: 9pt">To
              provide users with our services</FONT>
          </FONT>
        </FONT>
      </P>
    </TD>
    <TD WIDTH=194 BGCOLOR="#ffffff"
      STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
      <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0in">
        <FONT>
          <FONT>
            <FONT STYLE="font-size: 9pt">Name,
              username, date of birth or taxpayer identification number,
              government-issued identification or photo or a billing statement,
              profile picture, email, telephone number, geographic location,
              billing address, payment information, credit card details, PayPal
              account information, or bank account information.</FONT>
          </FONT>
        </FONT>
      </P>
    </TD>
    <TD WIDTH=229 BGCOLOR="#ffffff"
      STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
      <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0in">
        <FONT>
          <FONT>
            <FONT STYLE="font-size: 9pt">Complete
              users’ transactions, and address their inquiries, verify that
              the information provided by users is valid, and for compliance and
              internal business purposes;</FONT>
          </FONT>
        </FONT>
      </P>
      <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0in"><BR>
      </P>
      <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0in">
        <FONT>
          <FONT>
            <FONT STYLE="font-size: 9pt">Assess
              users’ proposal to perform a freelance project for another Ocean
              Service’s user.</FONT>
          </FONT>
        </FONT>
      </P>
      <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0in"><BR>
      </P>
      <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0in"><BR>
      </P>
    </TD>
    <TD WIDTH=81 BGCOLOR="#ffffff"
      STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
      <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0in">
        <FONT>
          <FONT>
            <FONT STYLE="font-size: 9pt">Contractual
              performance</FONT>
          </FONT>
        </FONT>
      </P>
    </TD>
  </TR>
  <TR VALIGN=TOP>
    <TD WIDTH=62 BGCOLOR="#ffffff"
      STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
      <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0in">
        <FONT>
          <FONT>
            <FONT STYLE="font-size: 9pt">To
              give users access to participate as a Freelancer or Service
              Provider Company</FONT>
          </FONT>
        </FONT>
      </P>
    </TD>
    <TD WIDTH=194 BGCOLOR="#ffffff"
      STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
      <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0in">
        <FONT>
          <FONT>
            <FONT STYLE="font-size: 9pt">Name,
              username, date of birth or taxpayer identification number,
              government-issued identification or photo or a billing statement,
              profile picture, email, telephone number, geographic location,
              billing address, payment information, credit card details, PayPal
              account information, or bank account information.</FONT>
          </FONT>
        </FONT>
      </P>
    </TD>
    <TD WIDTH=229 BGCOLOR="#ffffff"
      STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
      <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0in">
        <FONT>
          <FONT>
            <FONT STYLE="font-size: 9pt">Process
              users’ registration and give them access to the platform as a
              registered Freelancer or Service Provider Company;</FONT>
          </FONT>
        </FONT>
      </P>
      <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0in"><BR>
      </P>
      <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0in">
        <FONT>
          <FONT>
            <FONT STYLE="font-size: 9pt">Complete
              users’ transactions, and address their inquiries, verify that
              the information provided by users is valid, and for compliance and
              internal business purposes.</FONT>
          </FONT>
        </FONT>
      </P>
    </TD>
    <TD WIDTH=81 BGCOLOR="#ffffff"
      STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
      <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0in">
        <FONT>
          <FONT>
            <FONT STYLE="font-size: 9pt">Consent</FONT>
          </FONT>
        </FONT>
      </P>
    </TD>
  </TR>
  <TR VALIGN=TOP>
    <TD WIDTH=62 BGCOLOR="#ffffff"
      STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
      <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0in">
        <FONT>
          <FONT>
            <FONT STYLE="font-size: 9pt">To
              provide users with information</FONT>
          </FONT>
        </FONT>
      </P>
    </TD>
    <TD WIDTH=194 BGCOLOR="#ffffff"
      STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
      <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0in">
        <FONT>
          <FONT>
            <FONT STYLE="font-size: 9pt">Name,
              IP address, email address, geographic location, and other
              technical information.</FONT>
          </FONT>
        </FONT>
      </P>
    </TD>
    <TD WIDTH=229 BGCOLOR="#ffffff"
      STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
      <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0in">
        <FONT>
          <FONT>
            <FONT STYLE="font-size: 9pt">Contact
              users with administrative communications, the Company’s
              newsletters, marketing or promotional materials, and other
              information that may be of interest to them;</FONT>
          </FONT>
        </FONT>
      </P>
      <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0in"><BR>
      </P>
      <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0in">
        <FONT>
          <FONT>
            <FONT STYLE="font-size: 9pt">Tailor
              content to be displayed to users and offers to be presented to
              them, on the Service platform and elsewhere online;</FONT>
          </FONT>
        </FONT>
      </P>
      <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0in"><BR>
      </P>
      <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0in">
        <FONT>
          <FONT>
            <FONT STYLE="font-size: 9pt">Provide
              and improve the Service.</FONT>
          </FONT>
        </FONT>
      </P>
    </TD>
    <TD WIDTH=81 BGCOLOR="#ffffff"
      STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
      <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0in">
        <FONT>
          <FONT>
            <FONT STYLE="font-size: 9pt">Legitimate
              interest</FONT>
          </FONT>
        </FONT>
      </P>
    </TD>
  </TR>
  <TR VALIGN=TOP>
    <TD WIDTH=62 BGCOLOR="#ffffff"
      STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
      <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0in">
        <FONT>
          <FONT>
            <FONT STYLE="font-size: 9pt">To
              comply with the law</FONT>
          </FONT>
        </FONT>
      </P>
    </TD>
    <TD WIDTH=194 BGCOLOR="#ffffff"
      STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
      <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0in">
        <FONT>
          <FONT>
            <FONT STYLE="font-size: 9pt">Name,
              address, tax identification number, and contact information.</FONT>
          </FONT>
        </FONT>
      </P>
    </TD>
    <TD WIDTH=229 BGCOLOR="#ffffff"
      STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
      <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0in">
        <FONT>
          <FONT>
            <FONT STYLE="font-size: 9pt">Enforce
              and comply with the law, including to investigate, to protect the
              property and rights of Ocean Service or a third party, to protect
              the safety of the public or any person, or to prevent or stop
              activity we may consider to be, or to pose a risk of being,
              illegal, fraudulent, unethical or legally actionable activity. The
              Company may also use Device Identifiers to identify Ocean Service
              Center’s users;</FONT>
          </FONT>
        </FONT>
      </P>
      <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0in"><BR>
      </P>
      <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0in">
        <FONT>
          <FONT>
            <FONT STYLE="font-size: 9pt">For
              accounting and taxation purposes.</FONT>
          </FONT>
        </FONT>
      </P>
    </TD>
    <TD WIDTH=81 BGCOLOR="#ffffff"
      STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
      <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0in">
        <FONT>
          <FONT>
            <FONT STYLE="font-size: 9pt">Legal
              obligation</FONT>
          </FONT>
        </FONT>
      </P>
    </TD>
  </TR>
  <TR VALIGN=TOP>
    <TD WIDTH=62 BGCOLOR="#ffffff"
      STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
      <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0in">
        <FONT>
          <FONT>
            <FONT STYLE="font-size: 9pt">To
              document a transaction</FONT>
          </FONT>
        </FONT>
      </P>
    </TD>
    <TD WIDTH=194 BGCOLOR="#ffffff"
      STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
      <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0in">
        <FONT>
          <FONT>
            <FONT STYLE="font-size: 9pt">Name,
              address, tax identification number, and contact information.</FONT>
          </FONT>
        </FONT>
      </P>
    </TD>
    <TD WIDTH=229 BGCOLOR="#ffffff"
      STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
      <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0in">
        <FONT>
          <FONT>
            <FONT STYLE="font-size: 9pt">Document
              any contractual legal claim that could arise.</FONT>
          </FONT>
        </FONT>
      </P>
    </TD>
    <TD WIDTH=81 BGCOLOR="#ffffff"
      STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
      <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0in">
        <FONT>
          <FONT>
            <FONT STYLE="font-size: 9pt">Legitimate
              interest</FONT>
          </FONT>
        </FONT>
      </P>
    </TD>
  </TR>
  <TR VALIGN=TOP>
    <TD WIDTH=62 BGCOLOR="#ffffff"
      STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
      <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0in">
        <FONT>
          <FONT>
            <FONT STYLE="font-size: 9pt">Security
              information</FONT>
          </FONT>
        </FONT>
      </P>
    </TD>
    <TD WIDTH=194 BGCOLOR="#ffffff"
      STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
      <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0in">
        <FONT>
          <FONT>
            <FONT STYLE="font-size: 9pt">IP
              address and other technical information, as described above, plus
              any other information that may be required for this purpose.</FONT>
          </FONT>
        </FONT>
      </P>
    </TD>
    <TD WIDTH=229 BGCOLOR="#ffffff"
      STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
      <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0in">
        <FONT>
          <FONT>
            <FONT STYLE="font-size: 9pt">Protect
              the Company’s website and infrastructure from cyber-attack or
              other threats, and to report and deal with any illegal acts.</FONT>
          </FONT>
        </FONT>
      </P>
    </TD>
    <TD WIDTH=81 BGCOLOR="#ffffff"
      STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
      <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0in">
        <FONT>
          <FONT>
            <FONT STYLE="font-size: 9pt">Legitimate
              interest</FONT>
          </FONT>
        </FONT>
      </P>
    </TD>
  </TR>
  <TR VALIGN=TOP>
    <TD WIDTH=62 BGCOLOR="#ffffff"
      STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
      <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0in">
        <FONT>
          <FONT>
            <FONT STYLE="font-size: 9pt">Other
              information</FONT>
          </FONT>
        </FONT>
      </P>
    </TD>
    <TD WIDTH=194 BGCOLOR="#ffffff"
      STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
      <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0in">
        <FONT>
          <FONT>
            <FONT STYLE="font-size: 9pt">Any
              other information specific to the users’ needs.</FONT>
          </FONT>
        </FONT>
      </P>
    </TD>
    <TD WIDTH=229 BGCOLOR="#ffffff"
      STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
      <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0in">
        <FONT>
          <FONT>
            <FONT STYLE="font-size: 9pt">For
              the purposes disclosed at the time users provide their
              information, with their consent, and as further described in the
              Privacy Policy.</FONT>
          </FONT>
        </FONT>
      </P>
    </TD>
    <TD WIDTH=81 BGCOLOR="#ffffff"
      STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
      <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0in">
        <FONT>
          <FONT>
            <FONT STYLE="font-size: 9pt">Consent</FONT>
          </FONT>
        </FONT>
      </P>
    </TD>
  </TR>
</TABLE>
<P CLASS="western"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-right: 0.89in; margin-top: 0.14in">
  <FONT>
    <FONT><B>5. Responsibilities</B></FONT>
  </FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-right: 0.89in; margin-top: 0.14in">
  <FONT>
    <FONT>Everyone who works
      for or with Ocean Service Center has some responsibility for ensuring
      that Personal Data is collected and Processed appropriately. Each
      employee who handles Personal Data must ensure that it is Processed
      in line with this Policy and the Data Protection Laws and its
      principles.</FONT>
  </FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-right: 0.89in; margin-top: 0.14in">
  <FONT>
    <FONT>However, these
      people have key areas of responsibility:</FONT>
  </FONT>
</P>
<UL STYLE="margin-left: 0.5in;padding:0">
  <LI>
    <P ALIGN=JUSTIFY STYLE="margin-right: 0.89in; margin-top: 0.14in; line-height: 100%">
      <FONT>
        <FONT>
          <FONT>The
          </FONT>
        </FONT>
        <FONT>
          <FONT><B>CEO,
              Robert Smith, </B></FONT>
        </FONT>
        <FONT>
          <FONT>is
            ultimately responsible for ensuring that Ocean Service Center meets
            its legal obligations.</FONT>
        </FONT>
      </FONT>
    </P>
  <LI>
    <P ALIGN=JUSTIFY STYLE="margin-right: 0.89in; margin-top: 0.15in; line-height: 100%">
      <FONT>
        <FONT>
          <FONT>The
          </FONT>
        </FONT>
        <FONT>
          <FONT><B>Data
              Protection Supervisor, Robert Smith</B></FONT>
        </FONT>
        <FONT>
          <FONT>
            is responsible</FONT>
        </FONT>
        <FONT>
          <FONT>
          </FONT>
        </FONT>
        <FONT>
          <FONT>for:</FONT>
        </FONT>
      </FONT>
    </P>
</UL>
<UL STYLE="margin-left: 0.5in;padding:0">
  <LI>
    <P ALIGN=JUSTIFY STYLE="margin-right: 0.89in; margin-top: 0.13in; line-height: 100%">
      <FONT>
        <FONT>
          <FONT>Keeping
            the CEO updated about the Data Protection Laws, risks and</FONT>
        </FONT>
        <FONT>
          <FONT>
          </FONT>
        </FONT>
        <FONT>
          <FONT>issues.</FONT>
        </FONT>
      </FONT>
    </P>
  <LI>
    <P ALIGN=JUSTIFY STYLE="margin-right: 0.89in; line-height: 100%">
      <FONT>
        <FONT>
          <FONT>Reviewing
            all data protection procedures and related policies, making sure the
            Privacy Policy and any related notices are reviewed periodically and
            updated when necessary.</FONT>
        </FONT>
      </FONT>
    </P>
  <LI>
    <P ALIGN=JUSTIFY STYLE="margin-right: 0.89in; margin-top: 0in; line-height: 100%">
      <FONT>
        <FONT>
          <FONT>Arranging
            data protection training for the employees and handling their
            questions regarding this</FONT>
        </FONT>
        <FONT>
          <FONT>
          </FONT>
        </FONT>
        <FONT>
          <FONT>Policy.
          </FONT>
        </FONT>
      </FONT>
    </P>
  <LI>
    <P ALIGN=JUSTIFY STYLE="margin-right: 0.89in; margin-top: 0in; line-height: 100%">
      <FONT>
        <FONT>
          <FONT>Dealing
            with Data Subjects’ Requests (requests from individuals regarding
            the Personal Data that Ocean Service Center holds about them) in
            accordance with this Policy.</FONT>
        </FONT>
      </FONT>
    </P>
  <LI>
    <P ALIGN=JUSTIFY STYLE="margin-right: 0.89in; margin-top: 0in; line-height: 100%">
      <FONT>
        <FONT>
          <FONT>Reviewing
            any contracts or agreements with third parties that may Process the
            Personal Data collected by or for the Company.</FONT>
        </FONT>
      </FONT>
    </P>
  <LI>
    <P ALIGN=JUSTIFY STYLE="margin-right: 0.89in; margin-top: 0in; line-height: 100%">
      <FONT>
        <FONT>
          <FONT>Maintaining
            the Breach Response Policy and taking care of any breach.</FONT>
        </FONT>
      </FONT>
    </P>
</UL>
<UL STYLE="margin-left: 0.5in;padding:0">
  <LI>
    <P ALIGN=JUSTIFY STYLE="margin-right: 0.89in; margin-top: 0.15in; line-height: 100%">
      <FONT>
        <FONT>
          <FONT>The
          </FONT>
        </FONT>
        <FONT>
          <FONT><B>IT,
              Robert Smith</B></FONT>
        </FONT>
        <FONT>
          <FONT>
            is responsible for:</FONT>
        </FONT>
      </FONT>
    </P>
</UL>
<UL STYLE="margin-left: 0.5in;padding:0">
  <LI>
    <P ALIGN=JUSTIFY STYLE="margin-right: 0.89in; margin-top: 0.13in; line-height: 100%">
      <FONT>
        <FONT>
          <FONT>Ensuring
            all systems, services and equipment used for collecting and
            Processing data meet acceptable security</FONT>
        </FONT>
        <FONT>
          <FONT>
          </FONT>
        </FONT>
        <FONT>
          <FONT>standards.</FONT>
        </FONT>
      </FONT>
    </P>
  <LI>
    <P ALIGN=JUSTIFY STYLE="margin-right: 0.89in; line-height: 100%">
      <FONT>
        <FONT>
          <FONT>Performing
            regular checks and scans to ensure that the security software is
            functioning</FONT>
        </FONT>
        <FONT>
          <FONT>
          </FONT>
        </FONT>
        <FONT>
          <FONT>properly.</FONT>
        </FONT>
      </FONT>
    </P>
  <LI>
    <P ALIGN=JUSTIFY STYLE="margin-right: 0.89in; line-height: 100%">
      <FONT>
        <FONT>
          <FONT>Evaluating
            any third-party services that the Company is considering to collect
            or Process data (for instance, cloud computing</FONT>
        </FONT>
        <FONT>
          <FONT>
          </FONT>
        </FONT>
        <FONT>
          <FONT>services).</FONT>
        </FONT>
      </FONT>
    </P>
  <LI>
    <P ALIGN=JUSTIFY STYLE="margin-right: 0.89in; line-height: 100%">
      <FONT>
        <FONT>
          <FONT>Establishing
            IT Guidelines (to ensure Personal Data protection while using the
            electronic devices and systems, including a password policy) for the
            employees, and oversee employees’ compliance.</FONT>
        </FONT>
      </FONT>
    </P>
  <LI>
    <P ALIGN=JUSTIFY STYLE="margin-right: 0.89in; line-height: 100%">
      <FONT>
        <FONT>
          <FONT>Training
            the employees to follow the IT Guidelines, and to identify and avoid
            security breaches, email and other internet scams.</FONT>
        </FONT>
      </FONT>
    </P>
</UL>
<UL STYLE="margin-left: 0.5in;padding:0">
  <LI>
    <P ALIGN=JUSTIFY STYLE="margin-right: 0.89in; margin-top: 0.15in; line-height: 100%">
      <FONT>
        <FONT>
          <FONT>The
          </FONT>
        </FONT>
        <FONT>
          <FONT><B>Marketing
              Manager, Robert Smith</B></FONT>
        </FONT>
        <FONT>
          <FONT>
            is responsible for:</FONT>
        </FONT>
      </FONT>
    </P>
</UL>
<UL STYLE="margin-left: 0.5in;padding:0">
  <LI>
    <P ALIGN=JUSTIFY STYLE="margin-right: 0.89in; margin-top: 0.13in; line-height: 100%">
      <FONT>
        <FONT>
          <FONT>Approving
            any data protection statements included in the Company’s
            communications such as emails and</FONT>
        </FONT>
        <FONT>
          <FONT>
          </FONT>
        </FONT>
        <FONT>
          <FONT>newsletters.</FONT>
        </FONT>
      </FONT>
    </P>
  <LI>
    <P ALIGN=JUSTIFY STYLE="margin-right: 0.89in; line-height: 100%">
      <FONT>
        <FONT>
          <FONT>Addressing
            any marketing mailing objections and updating the marketing mailing
            list, to make sure Personal Data from people who opted-out is
            deleted permanently.</FONT>
        </FONT>
      </FONT>
    </P>
  <LI>
    <P ALIGN=JUSTIFY STYLE="margin-right: 0.89in; line-height: 100%">
      <FONT>
        <FONT>
          <FONT>Updating
            the mailing list to incorporate users and other business contact who
            have consented, and keeping records of consent.</FONT>
        </FONT>
      </FONT>
    </P>
  <LI>
    <P ALIGN=JUSTIFY STYLE="margin-right: 0.89in; line-height: 100%">
      <FONT>
        <FONT>
          <FONT>Ensuring
            that the Company’s marketing initiatives and communications abide
            by the Data Protection Laws.</FONT>
        </FONT>
      </FONT>
    </P>
</UL>
<P CLASS="western"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-right: 0.89in">
  <FONT>
    <FONT>
      <FONT><B>6. Data
          Protection Officer</B></FONT>
    </FONT>
  </FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-right: 0.89in">
  <FONT>
    <FONT>
      <FONT>The
        appointment of a Data Protection Officer is obligatory if: (1)
        processing is carried out by a public authority; or (2) the “core
        activities” of a data controller or data processor either require
        “the regular and systematic monitoring of Data Subjects on a large
        scale,” or consist of processing of Special Categories of Data
        (race and ethnic origin, religious or philosophical beliefs,
        political opinions, trade union memberships, biometric or genetic
        data, health data, and data related to sexual life or orientation) or
        data about criminal convictions “on a large scale.”</FONT>
    </FONT>
  </FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-right: 0.89in">
  <FONT>
    <FONT>
      <FONT>Ocean
        Service Center is a private Company, which core activities does not
        include the regular and systematic monitoring of Data Subjects on a
        large scale, nor collects or Processes Special Categories of Data, or
        data about criminal convictions on a large scale. Therefore, Ocean
        Service Center does not need to appoint a Data Protection Officer.
        <!-- Please confirm that this is accurate. -->
      </FONT>
    </FONT>
  </FONT>
</P>
<P CLASS="western"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-right: 0.89in">
  <FONT>
    <FONT>
      <FONT><B>7.
          Data Protection Guidelines</B></FONT>
    </FONT>
    <FONT>
      <FONT> </FONT>
    </FONT>
  </FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-right: 0.89in; margin-top: 0.15in">
  <FONT>
    <FONT>
      <FONT>Ocean
        Service Center will provide this Data Protection Policy to all its
        employees to help them understand their responsibilities when
        collecting or Processing</FONT>
    </FONT>
    <FONT>
      <FONT>
      </FONT>
    </FONT>
    <FONT>
      <FONT>Personal
        Data. The Company will conduct training sessions or will provide
        informative materials to inform employees of their responsibilities.</FONT>
    </FONT>
  </FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-right: 0.89in; margin-top: 0.15in">
  <FONT>
    <FONT>
      <FONT>All
        employees are responsible for ensuring that they comply with this
        Policy and with the requirements of the Data Protection Laws.
        Employees should request help from the Data Protection Supervisor or
        the IT, if they are unsure about any aspect of data protection.</FONT>
    </FONT>
  </FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-right: 0.89in; margin-top: 0.15in">
  <FONT>
    <FONT>
      <FONT>The
        Data Protection Laws’ requirements will be considered at the
        initial design stages of any new project or process to be implemented
        that involves Personal Data, as well as throughout the lifecycle of
        the relevant Personal Data Processing.</FONT>
    </FONT>
  </FONT>
</P>
<P CLASS="western"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-right: 0.89in">
  <FONT>
    <FONT>
      <FONT><B>7.1 Storage</B></FONT>
    </FONT>
  </FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-right: 0.89in; margin-top: 0.14in">
  <FONT>
    <FONT>These rules describe
      how Personal Data should be safely stored. Questions about storing
      data safely can be directed to the IT and the Data Protection
      Supervisor. </FONT>
  </FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-right: 0.89in; margin-top: 0.14in">
  <FONT>
    <FONT>These guidelines
      apply to Personal Data that is usually stored electronically but has
      been printed out for some reason:</FONT>
  </FONT>
</P>
<UL STYLE="margin-left: 0.5in;padding:0">
  <LI>
    <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-right: 0.89in">
      <FONT>
        <FONT>When
          Personal Data is stored on paper, it should be kept in a secure
          place where unauthorized people cannot see it. When not being used,
          the paper or files should be kept in a locked drawer or filing
          cabinet.</FONT>
      </FONT>
    </P>
  <LI>
    <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-right: 0.89in">
      <FONT>
        <FONT>All
          physical documents containing Personal Data must be physically
          destroyed using a paper shredder, once they are not needed.</FONT>
      </FONT>
    </P>
  <LI>
    <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-right: 0.89in">
      <FONT>
        <FONT>At
          the end of the day, printers must be checked, and all documents
          (that contain Personal Data) left there, should be stored or
          destroyed. Similarly, all files must be properly stored, and file
          cabinets locked.</FONT>
      </FONT>
    </P>
</UL>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-right: 0.89in; margin-top: 0.14in">
  <FONT>
    <FONT>When Personal Data
      is stored electronically, it must be protected from unauthorized
      access, accidental deletion and malicious hacking attempts:</FONT>
  </FONT>
</P>
<UL STYLE="margin-left: 0.5in;padding:0">
  <LI>
    <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-right: 0.89in">
      <FONT>
        <FONT>Personal
          Data should be protected by strong passwords that are changed
          regularly, and never shared between employees, unless necessary.</FONT>
      </FONT>
    </P>
  <LI>
    <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-right: 0.89in">
      <FONT>
        <FONT>If
          Personal Data is stored on removable media (like a CD or a flash
          drive), these should be kept locked away securely when not being
          used.</FONT>
      </FONT>
    </P>
  <LI>
    <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-right: 0.89in">
      <FONT>
        <FONT>Personal
          Data should only be stored on designated drives and servers, and
          should only be uploaded to approved cloud computing services.
          Personal Data should never be saved directly to personal laptops or
          other mobile devices, like tablets or smart phones.</FONT>
      </FONT>
    </P>
  <LI>
    <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-right: 0.89in">
      <FONT>
        <FONT>Servers
          containing personal data should be sited in a secure location, away
          from general office space. Personal Data should be backed up
          frequently and backups should be tested regularly.</FONT>
      </FONT>
    </P>
  <LI>
    <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-right: 0.89in">
      <FONT>
        <FONT>All
          servers and computers containing data should be protected by
          approved security software and a firewall.</FONT>
      </FONT>
    </P>
</UL>
<P CLASS="western"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-right: 0.89in">
  <FONT>
    <FONT>
      <FONT><B>7.2 Use</B></FONT>
    </FONT>
  </FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-right: 0.89in; margin-top: 0.14in">
  <FONT>
    <FONT>It is when Personal
      Data is accessed and used that is at the greatest risk of loss,
      corruption or theft. The following guidelines will be used when
      Personal Data is being Processed:</FONT>
  </FONT>
</P>
<UL STYLE="margin-left: 0.5in;padding:0">
  <LI>
    <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-right: 0.89in">
      <FONT>
        <FONT>When
          working with Personal Data, employees should ensure the screens of
          their computers are always locked when left unattended (the computer
          screen can be easily locked by putting it to “sleep”). </FONT>
      </FONT>
    </P>
  <LI>
    <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-right: 0.89in">
      <FONT>
        <FONT>The
          only people able to access Personal Data should be those who need it
          for their work. Personal Data should not be shared informally, and
          should not be disclosed by any means to unauthorized people, either
          within the Company or externally.</FONT>
      </FONT>
    </P>
  <LI>
    <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-right: 0.89in">
      <FONT>
        <FONT>Only
          share Personal Data with authorized third parties when it is
          absolutely necessary. If you are not sure, it is your obligation to
          ask to a supervisor before sharing Personal Data.</FONT>
      </FONT>
    </P>
  <LI>
    <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-right: 0.89in">
      <FONT>
        <FONT>Always
          access and update the central copy of any Personal Data.</FONT>
      </FONT>
    </P>
</UL>
<P CLASS="western"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-right: 0.89in">
  <FONT>
    <FONT>
      <FONT><B>7.3
          Accuracy</B></FONT>
    </FONT>
  </FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-right: 0.89in; margin-top: 0.14in">
  <FONT>
    <FONT>The Data Protection
      Laws requires Ocean Service Center to take reasonable steps to ensure
      Personal Data is kept accurate and up to date. It is the
      responsibility of all employees who work with Personal Data to take
      reasonable steps to ensure it is kept as accurate and up to date as
      possible.</FONT>
  </FONT>
</P>
<UL STYLE="margin-left: 0.5in;padding:0">
  <LI>
    <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-right: 0.89in">
      <FONT>
        <FONT>Ocean
          Service Center will make it easy for Data Subjects to update their
          Personal Data in Ocean Service Center’s system. </FONT>
      </FONT>
    </P>
  <LI>
    <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-right: 0.89in">
      <FONT>
        <FONT>Personal
          Data should be regularly reviewed and updated if it is found to be
          out of date. If no longer required, it should be deleted and
          disposed of properly. </FONT>
      </FONT>
    </P>
  <LI>
    <P CLASS="western" ALIGN=JUSTIFY STYLE="margin-right: 0.89in">
      <FONT>
        <FONT>Marketing
          databases should be checked regularly.</FONT>
      </FONT>
    </P>
</UL>
<P CLASS="western"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-right: 0.89in">
  <FONT>
    <FONT>
      <FONT><B>8.
          Data Subjects’ Rights </B></FONT>
    </FONT>
  </FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-right: 0.89in; margin-top: 0.14in">
  <FONT>
    <FONT>All individuals who
      are the subject of Personal Data held by Ocean Service Center are
      entitled to:</FONT>
  </FONT>
</P>
<UL STYLE="margin-left: 0.5in;padding:0">
  <LI>
    <P ALIGN=JUSTIFY STYLE="margin-right: 0.89in; margin-top: 0.15in; line-height: 100%">
      <FONT>
        <FONT>
          <FONT>Have
            access to Ocean Service Center Privacy Policy (which is available at
            the website), to be informed how their Personal data is being
            collected and processed, and how to exercise their rights.</FONT>
        </FONT>
      </FONT>
    </P>
  <LI>
    <P ALIGN=JUSTIFY STYLE="margin-right: 0.89in; margin-top: 0.14in; line-height: 100%">
      <FONT>
        <FONT>
          <FONT>Make
            a Data Subject Request to:</FONT>
        </FONT>
      </FONT>
    </P>
    <UL STYLE="margin-left: 0.5in;padding:0">
      <LI>
        <P ALIGN=JUSTIFY STYLE="margin-right: 0.89in; margin-top: 0.14in; line-height: 100%">
          <FONT>
            <FONT>
              <FONT>Ask
                Ocean Service Center whether it holds any Personal Data relating to
                them and, if so, to receive a description and a copy of that
                Personal Data. </FONT>
            </FONT>
          </FONT>
        </P>
      <LI>
        <P ALIGN=JUSTIFY STYLE="margin-right: 0.89in; margin-top: 0.14in; line-height: 100%">
          <FONT>
            <FONT>
              <FONT>Request
                the rectification of inaccurate Personal Data. Users are
                responsible for maintaining the accuracy of the information they
                submit to Ocean Service Center, they may access and correct of
                their personal information through their online account. This right
                of rectification is not absolute and certain exceptions may apply.</FONT>
            </FONT>
          </FONT>
        </P>
      <LI>
        <P ALIGN=JUSTIFY STYLE="margin-right: 0.89in; margin-top: 0.14in; line-height: 100%">
          <FONT>
            <FONT>
              <FONT>Request
                the deletion of their Personal Data. This right is not absolute,
                and it does not apply if Processing is necessary to exercise a
                legal right, to comply with a legal obligation, or to establish,
                exercise or defend a legal claim, among other exceptions. </FONT>
            </FONT>
          </FONT>
        </P>
      <LI>
        <P ALIGN=JUSTIFY STYLE="margin-right: 0.89in; margin-top: 0.14in; line-height: 100%">
          <FONT>
            <FONT>
              <FONT>Make
                a request to restrict the Processing of their Personal Data. This
                right is not absolute and certain exceptions apply.</FONT>
            </FONT>
          </FONT>
        </P>
      <LI>
        <P ALIGN=JUSTIFY STYLE="margin-right: 0.89in; margin-top: 0.14in; line-height: 100%">
          <FONT>
            <FONT>
              <FONT>Request
                their Personal Data to be transferred to a third party. This right
                only applies to information that the individual has provided to the
                Company.</FONT>
            </FONT>
          </FONT>
        </P>
      <LI>
        <P ALIGN=JUSTIFY STYLE="margin-right: 0.89in; margin-top: 0.14in; line-height: 100%">
          <FONT>
            <FONT>
              <FONT>Object
                to the Processing of their Personal Data. Individuals have an
                absolute right to stop their Personal Data from being used for
                direct marketing. The Marketing Manager will update the marketing
                mailing list to remove those individuals who opted-out from
                marketing communications.</FONT>
            </FONT>
          </FONT>
        </P>
    </UL>
</UL>
<P CLASS="western"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-right: 0.89in">
  <FONT>
    <FONT>
      <FONT><B>9. Data
          Subjects’ Requests</B></FONT>
    </FONT>
  </FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-right: 0.89in; margin-top: 0.14in">
  <FONT>
    <FONT>Data Subject
      Requests from individuals should be made by email or by regular mail,
      addressed to the Data Protection Supervisor, who will handle the
      requests. The Data Protection Supervisor can</FONT>
  </FONT>
  <FONT>
    <FONT>
    </FONT>
  </FONT>
  <FONT>
    <FONT>supply
      a standard request form, although individuals do not have to use</FONT>
  </FONT>
  <FONT>
    <FONT>
    </FONT>
  </FONT>
  <FONT>
    <FONT>it. </FONT>
  </FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-right: 0.89in; margin-top: 0.14in">
  <FONT>
    <FONT>The Data Protection
      Supervisor will always verify the identity of anyone making a Data
      Subject Request before handing over any information or taking any
      action. </FONT>
  </FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-right: 0.89in; margin-top: 0.14in">
  <FONT>
    <FONT>Ocean Service Center
      will make reasonable efforts to comply with the Data Subject
      Requests. The Data Protection Supervisor will respond to the Data
      Subject Request (including copies of the Personal Data, if requested)
      within 20 days from the request. </FONT>
  </FONT>
</P>
<P CLASS="western"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-right: 0.89in"><A NAME="_GoBack"></A>
  <FONT>
    <FONT>
      <FONT><B>10.
          Disclosing data for other reasons</B></FONT>
    </FONT>
  </FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-right: 0.89in; margin-top: 0.14in">
  <FONT>
    <FONT>In certain
      circumstances, the Data Protection Laws allow Personal Data to be
      disclosed to law enforcement agencies without the consent of the Data
      Subject. Under these circumstances, Ocean Service Center will
      disclose the requested Personal Data. However, the Data Protection
      Supervisor will ensure that the request is legitimate, seeking
      assistance from the CEO and from the Company’s legal advisers.</FONT>
  </FONT>
</P>
<P CLASS="western"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-right: 0.89in">
  <FONT>
    <FONT>
      <FONT><B>11.
          Compliance and Review</B></FONT>
    </FONT>
  </FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-right: 0.89in">
  <FONT>
    <FONT><SPAN>Breaches
        of this policy will be investigated, and appropriate actions will be
        taken. This Policy will be reviewed annually or as business reasons
        dictate.</SPAN></FONT>
  </FONT>
</P>