<layout-panel-wrapper [panelTitle]="'PROFILE.CHANGE_PASSWORD' | translate" icon="lock">
  <div class="panel-content" fxLayout="column" fxLayoutAlign="center center">

    <ng-container *ngIf="response then confirmation; else prompt"></ng-container>

    <ng-template #prompt>
      <p [innerHTML]="'PROFILE.RESET_PASSWORD.DESCRIPTION_FIRST_ROW' | translate">
      </p>
      <p>
        {{'PROFILE.RESET_PASSWORD.DESCRIPTION_SECOND_ROW' | translate}}
      </p>

      <button type="button" mat-raised-button color="primary" (click)="onSubmit()">
        {{'COMMON.BUTTONS.SEND_EMAIL' | translate}}
      </button>
    </ng-template>

    <ng-template #confirmation>
      <p>
        {{ response || error }}
      </p>

      <button type="button" mat-raised-button color="primary" *ngIf="error" (click)="response = error = undefined">
        {{'COMMON.BUTTONS.TRY_AGAIN' | translate}}
      </button>
    </ng-template>
  </div>
</layout-panel-wrapper>