<mat-list-item [class.unread]="notification?.unread">
  <ocean-icon [iconType]="iconType.NOTIFICATIONS_NONE" matListIcon></ocean-icon>
  <span matLine [innerHTML]="notification?.text"></span>

  <ng-container *ngIf="!dense then list; else widget"></ng-container>

  <ng-template #list>
    <button type="button" mat-flat-button color="primary">
      {{ notification?.action }}
    </button>
    <button *ngIf="notification?.unread" type="button" mat-button>
      DISMISS
      <ocean-icon fontSet="far" fontIcon="fa-times-circle" as="DISMISS"></ocean-icon>
    </button>
  </ng-template>

  <ng-template #widget>
    <button *ngIf="notification?.unread" type="button" mat-button>
      <ocean-icon aria-label="Dismiss" fontSet="far" fontIcon="fa-times-circle" as="DISMISS"></ocean-icon>
    </button>
  </ng-template>
</mat-list-item>
